<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Print house </title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<header class="header-navigation">

    <a th:href="@{/firstProductChoice}"> <img sec:authorize="isAuthenticated()" th:src="@{/images/shirtPacked.jpg}"
                                              class="imageHeader"/></a>
    <a th:href="@{/}"> <img sec:authorize="!isAuthenticated()" th:src="@{/images/sewing.jpg}"
                            class="imageLogin"/></a><br>

    <a th:href="@{'/colors/'}" class="btn btn-md btn-success">colors</a>
    <a th:href="@{'/manufacturerArticles/'}" class="btn btn-md btn-success">manufacturer Articles</a>
    <a th:href="@{'/firstProductChoice/'}" class="btn btn-md btn-warning">NEW order (firstChoiceImage) </a>

    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn-right btn btn-md btn-danger">Logout</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{/registration}" class="btn-right btn btn-md btn-warning">Register</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{/}" class="btn-right btn btn-md btn-warning">login</a>
</header>
<!--common part end-->

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form th:action="@{/login}" method="POST" class="form-horizontal form-signIn">
                <h3 class="form-signIn-heading" th:text="Sveicināti"></h3>
                <br/>

                <input type="text" id="email" name="email" th:placeholder="e-pasts"
                       class="form-control"/> <br/>
                <input type="password" th:placeholder="parole"
                       id="password" name="password" class="form-control"/> <br/>

                <div align="center" th:if="${param.error}">
                    <p class="validation-message">Nepareizs e-pasts / parole! Lūdzu, mēģiniet vēlreiz!</p>
                </div>
                <button class="btn btn-primary btn-block" name="Submit" value="Login" type="Submit"
                        th:text="Ienākt"></button>
            </form>
        </div>
    </div>
</div>

</body>
</html>