<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Print house </title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<header class="header-navigation">

    <a th:href="@{/firstProductChoice}"> <img sec:authorize="isAuthenticated()" th:src="@{/images/shirtPacked.jpg}"
                                              class="imageHeader"/></a>
    <a th:href="@{/}"> <img sec:authorize="!isAuthenticated()" th:src="@{/images/sewing.jpg}"
                            class="imageLogin"/></a><br>

    <a th:href="@{'/colors/'}" class="btn btn-md btn-success">colors</a>
    <a th:href="@{'/manufacturerArticles/'}" class="btn btn-md btn-success">manufacturer Articles</a>
    <a th:href="@{'/firstProductChoice/'}" class="btn btn-md btn-warning">NEW order (firstChoiceImage) </a>

    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn-right btn btn-md btn-danger">Logout</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{/registration}" class="btn-right btn btn-md btn-warning">Register</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{/}" class="btn-right btn btn-md btn-warning">login</a>
</header>
<!--common part end-->

<div class="panel panel-group panel-primary" style="margin-top:40px">
    <div class="panel-heading"> factory order (without print)</div>

    <form th:action="@{'/orderFactoryList/'}"
          th:object="${bookingOrderFactoryOnly}"
          method="post">


        Ordering day
        <input id="dayOrdering" type="date" name="dayOrdering"
               th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"> &nbsp; &nbsp; &nbsp;

        Day delivery
        <input id="dayDelivery" type="date" name="dayDelivery"
               th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"> <br> <br>

        Manufacturer Article
        <select th:field="*{manufacturerArticle}">
            <option th:each="manufacturerArticle : ${manufacturerArticles}" th:value="${manufacturerArticle.id}"
                    th:text="${manufacturerArticle.manufacturerName
                    + ' - ' + manufacturerArticle.modelName
                    + ' - ' + manufacturerArticle.modelNumber} ">
            </option>
        </select>

        Color
        <select th:field="*{color}">
            <option th:each="color : ${colors}" th:value="${color.id}"
                    th:text="${color.colorName} ">
            </option>
        </select>
        <br> <br>
        &nbsp; &nbsp; &nbsp; menXS <input type="text" name="menXS" placeholder="XS" size="7"> &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; menS <input type="text" name="menS" placeholder="S" size="7"> &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; menM <input type="text" name="menM" placeholder="M" size="7"> &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; menL <input type="text" name="menL" placeholder="L" size="7"> &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; menXL <input type="text" name="menXL" placeholder="XL" size="7"> &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; menXXL <input type="text" name="menXXL" placeholder="XXL" size="7"> &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; menXXXL <input type="text" name="menXXXL" placeholder="XXXL" size="7"> &nbsp; &nbsp; &nbsp;
        <br> <br>
        womenXS <input type="text" name="womenXS" placeholder="XS" size="7"> &nbsp; &nbsp; &nbsp;
        womenS <input type="text" name="womenS" placeholder="S" size="7"> &nbsp; &nbsp; &nbsp;
        womenM <input type="text" name="womenM" placeholder="M" size="7"> &nbsp; &nbsp; &nbsp;
        womenL <input type="text" name="womenL" placeholder="L" size="7"> &nbsp; &nbsp; &nbsp;
        womenXL <input type="text" name="womenXL" placeholder="XL" size="7"> &nbsp; &nbsp; &nbsp;
        womenXXL <input type="text" name="womenXXL" placeholder="XXL" size="7"> &nbsp; &nbsp; &nbsp;
        womenXXXL <input type="text" name="womenXXXL" placeholder="XXXL" size="7"> &nbsp; &nbsp; &nbsp;
        <br> <br>
        &nbsp; &nbsp; &nbsp; &nbsp; kid 6 <input type="text" name="kid6" placeholder="kid6" size="7"> &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; kid 8 <input type="text" name="kid8" placeholder="kid8" size="7"> &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; kid 12 <input type="text" name="kid12" placeholder="kid12" size="7"> &nbsp; &nbsp;
        <br> <br>

        <textarea rows="4" cols="50" name="commentField"> Place for additional comments...</textarea>

        <br>
        <button type="submit" class="registerbtn btn btn-md btn-warning">confirm</button>
        <br><br>
    </form>


    <div class="panel-heading"> order Factory List</div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">dayOrdering</th>
            <th scope="col">dayDelivery</th>
            <th scope="col">manufacturerArticle</th>
            <th scope="col">colorName</th>
            <th scope="col">sizes</th>
            <th scope="col">comment</th>
            <th scope="col">user</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="b : ${orderFactorysList}" class="table">
            <th th:text="${b.id}" scope="col"></th>
            <th th:text="${#dates.format(b.dayOrdering, 'dd-MM-yyy')}" scope="col"></th>
            <th th:text="${#dates.format(b.dayDelivery, 'dd-MM-yyy')}" scope="col"></th>

            <th th:text="${b.manufacturerArticle.manufacturerName
            + ' - ' + b.manufacturerArticle.modelName
            + ' - ' + b.manufacturerArticle.modelNumber}" scope="col"></th>
            <th th:text="${b.color.colorName}" scope="col"></th>
            <th scope="col">
                <th:block
                        th:text="${'MEN: ' + b.menXS +'XS -'+ b.menS +'S -'+ b.menM +'M -'+ b.menL +'L -'+
                         b.menXL +'XL -'+ b.menXXL +'XXL -'+ b.menXXXL +'XXXL'} +
                         ${'/// WOMEN: ' + b.womenXS +'XS -'+ b.womenS +'S -'+ b.womenM +'M -'+ b.womenL +'L -'+
                         b.womenXL +'XL -'+ b.womenXXL +'XXL -'+ b.womenXXXL +'XXXL'} +
                         ${'/// KID: ' + b.kid6 +'kid6 -'+ b.kid8 +'kid8 -'+ b.kid12 +'kid12'}">

                </th:block>
            </th>

            <th th:text="${b.commentField}" scope="col"></th>
            <th th:text="${b.email}" scope="col"></th>

            <td>
                <form th:action="@{'/deleteOrderFactoryRecord/' + ${b.id}}"
                      method="GET">
                    <input type="hidden" name="id" th:value="${b.id}">
                    <button type="submit" class="registerbtn btn btn-md btn-danger"> delete</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>