<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Print house </title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<header class="header-navigation">
    <a th:href="@{'/colors/'}" class="btn btn-md btn-success">sizes</a>
    <a th:href="@{'/sizes/'}" class="btn btn-md btn-success">size</a>
    <a th:href="@{'/manufacturerArticles/'}" class="btn btn-md btn-success">manufacturer Articles</a>
    <a th:href="@{'/firstProductChoice/'}" class="btn btn-md btn-warning">NEW order (firstChoiceImage) </a>
</header>
<!--common part end-->

<div class="panel panel-group panel-primary" style="margin-top:40px">
    <div class="panel-heading"> Register a new size</div>
    <form th:action="@{'/sizes/'}"
          method="POST">
        <input id="sizeName" type="text" name="sizeName" placeholder="size Name">
        <button type="submit" class="registerbtn btn btn-md btn-warning">confirm</button>
        <br><br>
    </form>

    <div class="panel-heading"> size List</div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">size</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="size : ${sizes}" class="table">
            <th th:text="${size.id}" scope="col"></th>
            <th th:text="${size.sizeName}" scope="col"></th>

            <td>
                <form method="post"
                      th:action="@{'/sizes/'+ ${size.id}}"
                      th:object="${size}"
                      th:id="'myDIV' + ${size.id}">
                    <input th:id="'sizeName' + ${size.id}"
                           type="text"
                           name="sizeName"
                           style="display: none;"
                           th:value="${size.sizeName}">

                    <input type="hidden" name="sizeName">
                    <button th:id="'sizeNameSave' + ${size.id}"
                            type="submit"
                            style="display: none;"
                            class="registerbtn btn btn-md btn-danger"> save
                    </button>
                </form>
            </td>

            <td>
                <form th:action="@{'/deleteSizeRecord/'+ ${size.id}}"
                      method="GET">
                    <input type="hidden" name="id" th:value="${size.id}">
                    <button type="submit" class="registerbtn btn btn-md btn-danger"> delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>